/venv/
/.idea/
/materialy/
/materialy/func.py
/materialy/Vocab.py
/materialy/leszia.py
/materialy/algoritmy_1.py
__init__.py
23_08_app.py
algotitm_1.py
ex_module.py
my_module.py
site_package.py
materialy/SQL_praktic.py
materialy/teachers.db
materialy/teachers1.db
materialy/test.py
materialy/Functions.py
materialy/main.py
app/app.py
materialy/Users.py
materialy/Etapy_proekta.py.py